* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    vertical-align: bottom;
}

video,
picture,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

input {
    outline: none;
}

a {
    display: block;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'GalanoGrotesque';
}

section {
    overflow-x: hidden;
}

.row {
    margin: 0;
}