/* ----------------------- COLORS ----------------------- */

$color-principal:#08907a;
$color-principal-oscuro:#067260;
$color-secundario:#ffffff;
$color-green-ligh:#32d9af;
$bg-color:#c1e3de;
$bg-color-claro:#b1e3de;
$bg-color-ultra-claro:#dff0ee;
$color-hover:#091c3e;
$color-texo:black;
$color-texo-claro:white;
$color-btn:#ffbe1b;
$color-grey-claro:#cdcccf;
$color-grey:#7f7f7f;

/* ---------------------- FONT-SIZE --------------------- */

$text-font-1:3.5rem;
$text-font-2:3rem;
$text-font-3:2.5rem;
$text-font-4:2rem;
$text-font-5:1.5rem;
$text-font-6:1rem;
$text-font-7:.5rem;

/* --------------------- TRANSITION --------------------- */

$transition-all:all 300ms ease-in-out;
$transition-menu:all 700ms ease-in-out;

/* --------------------- BOX-SHADOWS -------------------- */

$box-shadow-terciario:rgb(0 0 0 / 20%) 0px 2px 14px -6px;
$box-shadow-hover:0px 0px 10px 3px $color-grey-claro;
$nav-box-shadow:0px 2px 5px 0px $color-grey-claro;
$box-shadow-primario:0px .5rem 1rem #b4b4b4;
$box-shadow-secundario: 0px .5rem 1rem rgba(0, 0, 0, 0.418);

/* ----------------------- BORDER ----------------------- */

$borde-radius-height:10px;
$borde-radius-medium:5px;
$borde-radius-low:2px;