/* ----------------------- COLORS ----------------------- */

$color-principal:#08907a;
$color-principal-oscuro:#067260;
$color-secundario:#ffffff;
$color-green-ligh:#32d9af;
$bg-color:#c1e3de;
$bg-color-claro:#b1e3de;
$bg-color-ultra-claro:#dff0ee;
$color-hover:#091c3e;
$color-texo:black;
$color-texo-claro:white;
$color-btn:#ffbe1b;
$color-grey-claro:#cdcccf;
$color-grey:#7f7f7f;

/* ---------------------- FONT-SIZE --------------------- */

:root {
    --font-size-1: 3.5rem;
    --font-size-2: 3rem;
    --font-size-3: 2.8rem;
    --font-size-4: 2.5rem;
    --font-size-5: 2rem;
    --font-size-6: 1.5rem;
    --font-size-7: 1rem;
    --font-size-8: 1.3rem;
    --font-size-9: .76rem;
}

$text-font-1: var(--font-size-1);
$text-font-2: var(--font-size-2);
$text-font-3: var(--font-size-3);
$text-font-4: var(--font-size-4);
$text-font-5: var(--font-size-5);
$text-font-6: var(--font-size-6);
$text-font-7: var(--font-size-7);
$text-font-8: var(--font-size-8);
$text-font-9: var(--font-size-9);

/* --------------------- TRANSITION --------------------- */

$transition-all:all 300ms ease-in-out;
$transition-menu:all 700ms ease-in-out;

/* --------------------- BOX-SHADOWS -------------------- */

$box-shadow-terciario:rgb(0 0 0 / 20%) 0px 2px 14px -6px;
$box-shadow-hover:0px 0px 10px 3px $color-grey-claro;
$nav-box-shadow:0px 2px 5px 0px $color-grey-claro;
$box-shadow-primario:0px .5rem 1rem #b4b4b4;
$box-shadow-secundario: 0px .5rem 1rem rgba(0, 0, 0, 0.418);

/* ----------------------- BORDER ----------------------- */

$borde-radius-height:10px;
$borde-radius-medium:5px;
$borde-radius-low:2px;