.navbar {
    background: $color-secundario;
    .logo {
        width: 160px;
        img {
            width: 100%;
        }
    }
    .navbar-toggler {
        border: none;
        &:focus {
            box-shadow: none;
        }
    }
}