@media screen and (max-width:992px) {
     :root {
        --font-size-1: 3rem;
        --font-size-2: 2.5rem;
        --font-size-3: 2.2rem;
        --font-size-4: 2rem;
        --font-size-5: 1.5rem;
        --font-size-6: 1.2rem;
        --font-size-7: 1rem;
        --font-size-8: 1.3rem;
        --font-size-9: .76rem;
    }
    .precios {
        .container-btn-date {
            margin: 0;
        }
    }
}

@media screen and (max-width:767px) {
    .precios {
        overflow: hidden;
        box-shadow: 0px 0px 0px 10px grey;
        .container-btn-date,
        .btn-date {
            margin: 0;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            background: $color-secundario;
            box-shadow: none;
        }
        .btn-date {
            border: 1px solid grey;
            width: 100%;
        }
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
}