    /* --------------------- BTN-EVULUS-YELLOW--------------------- */
    
    @mixin btn-personalizado($bg, $padding, $weight, $font-size) {
        width: $weight;
        padding: $padding;
        margin: 0 auto;
        color: $color-texo;
        background: $bg;
        transition: $transition-all;
        -webkit-transition: $transition-all;
        -moz-transition: $transition-all;
        -ms-transition: $transition-all;
        -o-transition: $transition-all;
        font-weight: 700;
        font-size: $font-size;
        text-align: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        display: inline-block;
        &:focus {
            border: none;
        }
    }
    
    .btn-evulus {
        @include btn-personalizado($color-btn, 1rem 1.8rem 20px, auto, 1.5rem);
        &:hover {
            box-shadow: 0px 0px 2rem $color-btn;
        }
    }
    
    .btn-evulus-medium {
        @include btn-personalizado($color-btn, 0px 20px 4px 20px, auto, 1rem);
        &:hover {
            background: #e0a800;
            color: $color-texo !important;
            text-decoration: none !important;
        }
        &:active {
            background: #d39e00;
        }
    }
    
    .btn-evulus-small {
        @include btn-personalizado($color-btn, 0rem 1rem 5px, auto, 1rem);
        margin: 0;
        &:hover {
            background: #e0a800;
            color: $color-texo !important;
            text-decoration: none !important;
        }
        &:active {
            background: #d39e00;
        }
    }
    /* ----------------------- BTN NAV ---------------------- */
    
    .btn-1,
    .btn-2 {
        @include btn-personalizado($color-principal, 0rem .5rem 5px, auto, .9rem);
        margin: 10px 15px 10px 0px;
        border: 2px solid #008d78;
        &:hover {
            background: $color-principal;
            color: $color-texo-claro;
        }
        &.active {
            background: $color-principal;
            color: $color-texo-claro;
        }
    }
    
    .btn-2 {
        border: 2px solid $color-principal;
        color: $color-texo;
        background: transparent;
        min-width: 112px;
    }
    
    .btn-submit {
        @include btn-personalizado($color-btn, 12px 0px, 280px, 1.5rem);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        &:hover {
            box-shadow: 0px 0px 2rem $color-btn;
        }
    }
    
    .container-btn-date {
        @include btn-personalizado($color-secundario, 0px, 300px, 1rem);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        background: #808080;
        height: 80px;
        @include f-center;
        margin: 10px 20px;
        .btn-date {
            @include btn-personalizado($color-secundario, 0px 0px, 95%, 1rem);
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            height: 80%;
            @include f-center;
            flex-direction: column;
            box-shadow: 0px 0px 4px 0px #464646;
        }
    }