.nav-evulus {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    background: $color-secundario;
    align-items: center;
    box-shadow: $nav-box-shadow;
    min-height: 61px;
}

.menu-burguer {
    font-size: 1rem;
    color: $color-principal;
    cursor: pointer;
}

.nav-evulus,
.nav_principal,
.nav-modificacion__menu,
.nav-items-static,
.logginSearch,
.buttons-loggin {
    gap: 20px;
}

.nav-items-static {
    .lang {
        border-right: 1px solid $color-grey;
        padding-right: 20px;
    }
    .dark-mode {
        color: $color-grey-claro;
        &:hover {
            color: $color-grey;
        }
    }
    span,
    div {
        cursor: pointer;
        transition: $transition-all;
        -webkit-transition: $transition-all;
        -moz-transition: $transition-all;
        -ms-transition: $transition-all;
        -o-transition: $transition-all;
    }
}

.logginSearch {
    display: flex;
    .button-search {
        position: relative;
        width: 200px;
        input {
            width: 0!important;
            opacity: 0;
            transition: $transition-all;
            -webkit-transition: $transition-all;
            -moz-transition: $transition-all;
            -ms-transition: $transition-all;
            -o-transition: $transition-all;
            border: 1px solid $color-principal;
            font-size: .7rem;
            padding: .3rem;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
        button {
            position: absolute;
            right: 0;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: none;
            color: $color-principal;
            background: $color-grey-claro;
            z-index: 1;
            padding: 1px 5px;
            svg {
                transform: translateY(-2px) rotate(90deg);
                -webkit-transform: translateY(-2px) rotate(90deg);
                -moz-transform: translateY(-2px) rotate(90deg);
                -ms-transform: translateY(-2px) rotate(90deg);
                -o-transform: translateY(-2px) rotate(90deg);
            }
            &.active {
                background: $color-principal !important;
            }
        }
    }
    .button-search:hover {
        input {
            width: 100% !important;
            opacity: 1;
        }
        button {
            background: $color-principal;
            color: $color-secundario;
        }
    }
    .button-search {
        input:focus {
            width: 100% !important;
            opacity: 1;
            box-shadow: none;
            border: 1px solid $color-principal;
        }
    }
}

.submenu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(55, 55, 55, 0.295);
}

.aside-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 10;
    right: -150%;
    height: 100%;
    min-height: 100vh;
    width: 375px;
    border-left: 1px solid #eeee;
    background: $color-secundario;
    transition: $transition-menu;
    -webkit-transition: $transition-menu;
    -moz-transition: $transition-menu;
    -ms-transition: $transition-menu;
    -o-transition: $transition-menu;
    overflow-x: scroll;
    .close {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 10px;
        &:hover {
            color: $color-principal;
        }
    }
    .btn-evulus-green {
        height: 40px;
        display: flex;
        align-items: center;
        text-align: start;
    }
    .nav_principal {
        gap: 0;
    }
    .logginSearch {
        margin-bottom: 20px;
    }
    .nav-items-static {
        margin-top: 20px;
    }
}

.submenu.active {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

.aside-menu.active {
    right: 0;
}

.bg-menu {
    position: fixed;
    height: 100%;
    width: 100%;
    background: $bg-color;
}