/* ------------------------ MODAL ----------------------- */

.modal-dialog {
    max-width: min-content;
    .modal-content {
        margin: 0 auto;
        background: url(../img/bg_modal.png) no-repeat;
        background-size: cover;
        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
        width: 650px;
        padding: 20px 0px;
        .modal-header-cal,
        .cantidad,
        .montos,
        .modal-footer-cal {
            border-bottom: 1px solid $color-secundario;
            padding: 20px 50px;
        }
        .modal-header-cal {
            text-align: center;
            color: $color-secundario;
            h2 {
                font-size: 3rem;
            }
        }
        .modal-main-cal {
            .cantidad {
                display: flex;
                flex-direction: column;
                gap: 40px;
                .cantidad-evu {
                    h5 {
                        color: $color-secundario;
                    }
                    .data-value {
                        font-size: 1rem;
                        margin: 0 auto;
                        width: 180px;
                        height: 44px;
                    }
                }
                .component-day .day-mes {
                    justify-content: center;
                }
            }
            .montos {
                @include f-center;
                flex-direction: column;
                gap: 20px;
                .data-value {
                    width: 80%;
                }
            }
        }
        .modal-footer-cal {
            text-align: center;
            border-bottom: none;
            .component-mensual {
                flex-wrap: wrap;
                justify-content: center;
                .meses {
                    width: 100%;
                }
                .mensual-total {
                    button {
                        width: 100%;
                    }
                }
                .mes-title,
                .mensual-total__title {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}