@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/GalanoGrotesqueSemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/GalanoGrotesqueExtraBold.ttf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url(../fonts/Galano-Grotesque-Heavy.ttf) format("truetype");
  font-weight: 900;
}
/* ----------------------- COLORS ----------------------- */
/* ---------------------- FONT-SIZE --------------------- */
/* --------------------- TRANSITION --------------------- */
/* --------------------- BOX-SHADOWS -------------------- */
/* ----------------------- BORDER ----------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

video,
picture,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

input {
  outline: none;
}

a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "GalanoGrotesque";
}

section {
  overflow-x: hidden;
}

.row {
  margin: 0;
}

/* ----------------------- MIXING ----------------------- */
/* ------------------- VALUE CONTAINE ------------------- */
.form-select,
.data-value {
  width: calc(50% - 20px);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 7px solid #ffffff;
  height: 54px;
  background: #f2f2f1;
  padding: 0rem 0.5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------------- COMPONENT-DAY ------------------- */
.component-day .day-mes {
  display: flex;
}
.component-day .day-mes .day-mes__title {
  color: #ffffff;
  width: 10%;
}
.component-day .day-mes__items {
  display: flex;
  width: 85%;
  justify-content: space-between;
}
.component-day .day-mes__items span {
  height: 25px;
  padding: 0px 8px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 500;
}

/* ------------------------ component-rango----------------------- */
.next {
  width: 0;
  height: 0;
  border-left: 14px solid #ffffff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.prev {
  width: 0;
  height: 0;
  border-right: 15px solid #ffffff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.slider-range {
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  margin: 10px auto;
}
.slider-range .porcentaje {
  padding-bottom: 2px;
}
.slider-range .slider {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.slider-range .slider .range {
  width: 100%;
  height: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-appearance: none;
  outline: none;
}
.slider-range .slider .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #2baae2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 0 #2baae2;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}
.slider-range .slider .range::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 7px #2babe225;
}

/* ----------------- .COMPONENTE-MENSUA ----------------- */
.component-mensual {
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  justify-content: space-between;
}
.component-mensual .meses {
  width: 80%;
}
.component-mensual .meses .mes-title {
  font-size: 1.3rem;
}
.component-mensual .meses .mes__items-container {
  text-align: center;
  align-items: flex-end;
  justify-content: space-between;
}
.component-mensual .meses .mes__items-container .item-mes .item-mensual__value {
  padding: 2px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: transparent;
  margin: 2px;
  border: 1px solid white;
}
.component-mensual .meses .mes__items-container .item-mes .item-mensual__value.active {
  background: #ffbe1b;
  border: 1px solid #ffbe1b;
  color: black;
}
.component-mensual .mensual-total__title {
  font-size: 1.3rem;
}
.component-mensual .mensual-total button {
  padding: 0px 20px 3px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 2px;
  background: #ffbe1b;
  border: 1px solid #ffbe1b;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
}

/* --------------------- BTN-EVULUS-YELLOW--------------------- */
.btn-evulus {
  width: auto;
  padding: 1rem 1.8rem 20px;
  margin: 0 auto;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
}
.btn-evulus:focus {
  border: none;
}
.btn-evulus:hover {
  box-shadow: 0px 0px 2rem #ffbe1b;
}

.btn-evulus-medium {
  width: auto;
  padding: 0px 20px 4px 20px;
  margin: 0 auto;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
}
.btn-evulus-medium:focus {
  border: none;
}
.btn-evulus-medium:hover {
  background: #e0a800;
  color: black !important;
  text-decoration: none !important;
}
.btn-evulus-medium:active {
  background: #d39e00;
}

.btn-evulus-small {
  width: auto;
  padding: 0.5rem;
  margin: 0 auto;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-evulus-small:focus {
  border: none;
}
.btn-evulus-small:hover {
  background: #e0a800;
  color: black !important;
  text-decoration: none !important;
}
.btn-evulus-small:active {
  background: #d39e00;
}

/* ----------------------- BTN NAV ---------------------- */
.btn-1,
.btn-2 {
  width: auto;
  padding: 0rem 0.5rem 5px;
  margin: 0 auto;
  color: black;
  background: #08907a;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  color: #ffffff;
  margin: 0;
  border: 1px solid #08907a;
}
.btn-1:focus,
.btn-2:focus {
  border: none;
}
.btn-1:hover,
.btn-2:hover {
  background: #08907a;
  color: white;
}
.btn-1.active,
.btn-2.active {
  background: #08907a;
  color: white;
}

.btn-2 {
  border: 1px solid #08907a;
  color: #08907a;
  background: transparent;
}

.btn-evulus-green {
  width: 100%;
  padding: 0px 0.5rem 5px;
  margin: 0 auto;
  color: black;
  background: #ffffff;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
}
.btn-evulus-green:focus {
  border: none;
}
.btn-evulus-green:hover {
  background: #08907a;
  color: white;
}
.btn-evulus-green.active {
  background: #08907a;
  color: white;
}

.btn-submit {
  width: 280px;
  padding: 12px 0px;
  margin: 0 auto;
  color: black;
  background: #ffbe1b;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.btn-submit:focus {
  border: none;
}
.btn-submit:hover {
  box-shadow: 0px 0px 2rem #ffbe1b;
}

.container-btn-date {
  width: 300px;
  padding: 0px;
  margin: 0 auto;
  color: black;
  background: #ffffff;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #808080;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}
.container-btn-date:focus {
  border: none;
}
.container-btn-date .btn-date {
  width: 95%;
  padding: 0px 0px;
  margin: 0 auto;
  color: black;
  background: #ffffff;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px #464646;
}
.container-btn-date .btn-date:focus {
  border: none;
}

/* ------------------------ MODAL ----------------------- */
.modal-dialog {
  max-width: min-content;
}
.modal-dialog .modal-content {
  margin: 0 auto;
  background: url(../img/bg_modal.png) no-repeat;
  background-size: cover;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  padding: 20px 0px;
}
.modal-dialog .modal-content .modal-header-cal,
.modal-dialog .modal-content .cantidad,
.modal-dialog .modal-content .montos,
.modal-dialog .modal-content .modal-footer-cal {
  border-bottom: 1px solid #ffffff;
  padding: 20px 50px;
}
.modal-dialog .modal-content .modal-header-cal {
  text-align: center;
  color: #ffffff;
}
.modal-dialog .modal-content .modal-header-cal h2 {
  font-size: 3rem;
}
.modal-dialog .modal-content .modal-main-cal .cantidad {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.modal-dialog .modal-content .modal-main-cal .cantidad .cantidad-evu h5 {
  color: #ffffff;
}
.modal-dialog .modal-content .modal-main-cal .cantidad .cantidad-evu .data-value {
  font-size: 1rem;
  margin: 0 auto;
  width: 180px;
  height: 44px;
}
.modal-dialog .modal-content .modal-main-cal .cantidad .component-day .day-mes {
  justify-content: center;
}
.modal-dialog .modal-content .modal-main-cal .montos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.modal-dialog .modal-content .modal-main-cal .montos .data-value {
  width: 80%;
}
.modal-dialog .modal-content .modal-footer-cal {
  text-align: center;
  border-bottom: none;
}
.modal-dialog .modal-content .modal-footer-cal .component-mensual {
  flex-wrap: wrap;
  justify-content: center;
}
.modal-dialog .modal-content .modal-footer-cal .component-mensual .meses {
  width: 100%;
}
.modal-dialog .modal-content .modal-footer-cal .component-mensual .mensual-total button {
  width: 100%;
}
.modal-dialog .modal-content .modal-footer-cal .component-mensual .mes-title,
.modal-dialog .modal-content .modal-footer-cal .component-mensual .mensual-total__title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar {
  background: #ffffff;
}
.navbar .logo {
  width: 160px;
}
.navbar .logo img {
  width: 100%;
}

main {
  background: black;
  background: linear-gradient(180deg, black 0%, #056354 100%);
}

.staking-progresivo {
  padding: 80px 0px;
}

.title,
.precios {
  margin: 50px auto;
}

.title {
  color: #ffffff;
  text-align: center;
}
.title h1 {
  font-size: 3rem;
}
.title span {
  font-size: 1.5rem;
}

.precios {
  display: flex;
  justify-content: center;
}

.panel {
  background: url(../img/bg-panel.png) no-repeat;
  box-shadow: 0px 0px 40px 0px #02201b;
  background-size: cover;
  position: relative;
  padding: 3.5rem 2.5rem;
  margin: 0px auto 30px auto;
  max-width: 933px;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  overflow: hidden;
  min-height: 940px;
}
.panel .panel__cuenta,
.panel .panel__mes,
.panel .panel__day,
.panel .panel__stake,
.panel .panel__valance {
  margin: 0px auto 20px auto;
}
.panel__cuenta {
  justify-content: space-between;
}
.panel__cuenta .form-select option {
  width: 100%;
}
.panel__day {
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.panel__mes {
  color: #ffffff;
  width: 90%;
  padding: 0;
}
.panel__stake {
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.panel__stake input {
  font-size: 1.5rem;
  margin: 0;
  margin-left: 10px;
  padding: 0px 25px 6px 25px;
  font-weight: 400;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.panel__valance {
  justify-content: space-between;
  padding: 0;
  gap: 10px;
}
.panel__valance .valance-item {
  width: 258px;
  background: #ffffff;
  text-align: center;
  padding: 0.5rem 0px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.panel__valance .valance-item__title {
  font-weight: 700;
}
.panel__valance .valance-item__total {
  display: inline-block;
}
.panel__table {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 100%;
  height: 250px;
  background: white;
  overflow: hidden;
  padding: 0;
}
.panel__table table {
  width: 100%;
}
.panel__table table .table-header {
  height: 60px;
  background: black;
  background: linear-gradient(90deg, black 0%, #07816d 100%);
}
.panel__table table .table-header th {
  color: #ffffff;
}
.panel__table table tbody td {
  background: #ffffff;
  font-size: 0.7rem;
  font-weight: 500;
}
.panel__table table td,
.panel__table table th {
  padding: 5px 0px 5px 0px;
}
.panel__table table td:first-child,
.panel__table table th:first-child {
  padding: 5px 20px 5px 20px;
}
.panel__table table th:last-child,
.panel__table table td:last-child {
  padding: 5px 20px 5px 20px;
}

.footer {
  width: 100%;
  text-align: center;
}
.footer p {
  color: #ffffff;
  margin-top: 20px;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
